# Learn how to add code owners here:
# https://help.github.com/en/articles/about-code-owners

* @khulnasoft/nrz-oss

# Shared docs (team specific overrides below)
/docs @khulnasoft/nrz-oss @anthonyshew
